body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body::before {
    content: "";
    display: block;
    position: fixed;
    width: 87%;
    height: 84%;
    background-image: url("../img/logo.png"); /* Ruta de la imagen de fondo */
    background-size: 27% 50%;
    background-position: right bottom;
    background-color: white;
    opacity: 0.5; /* Opacidad de la imagen de fondo (valor bajo) */
    filter: blur(9px); /* Aplicar un desenfoque a la imagen */
    z-index: -1;
    background-repeat: no-repeat;
}
.container {

    position: relative;
    background-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 32px;
    max-width: 400px;
}



.inner-container {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    position: relative;
}

label {
    position: absolute;
    left: 70px;
    color: rgb(114, 116, 117);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    font-weight: bold;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    position: absolute;
    top: -20px;
    left: -22px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/logo.png");
}


/* Posicionar el contenedor del menú en la esquina superior derecha */
.dropdown {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 55px;
}

/* Estilos para el ícono de las tres rayas (Font Awesome) */
.menu-icon {
  display: flex; /* Activa el contenedor flex */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  cursor: pointer;
  font-size: 30px;
  padding: 8px;
  background-color: #5a5a5a;
  border-radius: 5px;
  color: #ffffff;

}

/* Estilos para la lista desplegable */
.menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  min-width: 150px;
  right: 20px;
  top: 20px;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}
